.container-1 {
    max-width: 800px; /* Увеличенная ширина карточки */
    margin: 0 auto;
    padding: 40px; /* Увеличенный паддинг */
    background-color: #f7f7f7;
    border-radius: 12px; /* Слегка увеличенный радиус скругления углов */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); /* Увеличенный и более мягкий тень */
  
    h1 {
        font-size: 36px; /* Больше размер текста для заголовка */
        text-align: center;
        color: #333;
        margin-bottom: 50px; /* Увеличенное пространство под заголовком */
    }

    /* Стилизация формы */
    .fine-form {
        display: flex;
        flex-direction: column;

        label {
            font-size: 18px; /* Увеличен размер текста для меток */
            font-weight: bold;
            margin-bottom: 15px; /* Увеличенное пространство под метками */
        }

        input[type="text"],
        textarea {
            font-size: 16px; /* Увеличен размер текста внутри полей ввода */
            padding: 15px; /* Увеличенный паддинг */
            margin-bottom: 25px; /* Больше места между полями */
            border: 2px solid #ccc; /* Более толстая граница */
            border-radius: 6px; /* Слегка увеличенный радиус скругления */

            &:focus {
                border-color: #007bff;
                box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
                outline: none; /* Удаление стандартного outline */
            }
        }

        button {
            font-size: 18px; /* Увеличенный размер текста на кнопке */
            padding: 15px 20px; /* Увеличенные паддинги */
            color: #fff;
            background-color: #007bff;
            border: none;
            border-radius: 6px; /* Увеличение скругления углов кнопки */
            cursor: pointer;
            transition: all 0.3s; /* Плавная смена всех свойств */

            &:hover {
                background-color: #0056b3; /* Немного более темный оттенок при наведении */
                transform: scale(1.05); /* Небольшое увеличение при наведении */
            }
        }
    }
}
