@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root {
	/* Base font size */
	font-size: 10px;

	/* Heading height variable*/
	--heading-height: 0.1em;  --color-primary: hsl(310, 100%, 65%);
  --color-secondary: hsl(160, 100%, 65%);
  --background: hsl(230, 30%, 15%);
  --text: hsl(310, 100%, 95%);

  --background: hsl(230, 30%, 15%);
  --text: hsl(310, 100%, 95%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
  }

  h1 {
    font-family: 'Philosopher Bold';
      font-size: calc(1.9em + 1.9vw);
      font-weight: 700;
      letter-spacing: .01em;
      padding: 1rem 0 0 4.5rem;
      text-shadow: .022em .022em .022em #111;
      color: #fff;
  }


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 0hv;
    background: rgb(23, 24, 26);
    font-family: "Roboto", Arial, sans-serif;
  }


body .container {
    display: flex;
    justify-content:baseline;
    align-items:center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 100px 0;
  }
  
  body .container-1 {
    display: flex;
    justify-content:baseline;
    align-items:center;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 10px 0;
    margin-left: 7%;
  }
  
  body .container .card {
    position: relative;
    min-width: 320px;
    height: 440px;
    box-shadow: inset 5px 5px 5px rgba(0, 0, 0, 0.5),
      inset -5px -5px 15px rgba(255, 255, 255, 0.1),
      5px 5px 15px rgba(0, 0, 0, 0.3), -5px -5px 15px rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    margin: 30px;
    transition: 0.5s;
  }
  
  
  body .container .card .box {
    position: absolute;
    top: 20px;
    left: 20px;
    right: 20px;
    bottom: 20px;
    background: rgba(39, 39, 39, 0.5);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s;
  }
  
  .background-img-white{
    background-color: #ffffff;
    width: 320px;
    height: 440px;
    border-radius: 15px;
    background-size: contain;
  }
  
  
  .background-img{
    border-radius: 100%;
    width: 320px;
    height: 320px;
    background-size: contain;
    background-repeat: no-repeat;
  }
  
  .background-img-black{
    border-radius: 15px;
    width: 320px;
    height: 440px;
    background-color: #00000093;
    background-size: contain;
  }
  
  body .container .card .box:hover {
    transform: translateY(-45px);
  }
  
  body .container .card .box:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: rgba(255, 254, 254, 0.5);
  }
  
  body .container .card .box .content {
    padding: 8px;
    text-align: center;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  body .container .card .box .content h2 {
    position: absolute;
    top: 0px;
    right: 5px;
    font-size: 3.5rem;
    color: rgba(255, 255, 255, 0.288);
  }
  
  body .container .card .box .content h3 {
    font-family: 'Philosopher Bold';
    font-size: 1.8rem;
    color: #fff;
    z-index: 1;
    transition: 0.5s;
    margin-bottom: 5px;
  }
  
  body .container .card .box .content p {
    font-size: 1rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 0.9);
    z-index: 1;
    transition: 0.5s;
  }

  