
  






  .info{
    font-family: 'Philosopher Bold';
    max-width: 1200px;
    margin-left: 0;
    padding: 1rem 0 1rem 2rem;
    font-size: 2rem;
    color: #fff;
  }
  
  .line{
    width: -webkit-fill-available;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
  }
  
  
  
  .circle-image{
    display: inline-block;
    border-radius: 50%;
    margin-left: 34%;
    margin-right: 35%;
    margin-bottom: 7px;
    overflow: hidden;
    width: 300px;
    height: 300px;
  }
  
  .circle-image img{
    width:100%;
    height:100%;
    object-fit: cover;
  }
  
  
  
  .short_text{
    font-family: 'Philosopher Bold';
      font-size: calc(1.1em + 1.2vw);
      font-weight: 700;
      letter-spacing: .01em;
      padding: 1rem 0 0 4.5rem;
      text-shadow: .022em .022em .022em #111;
      color: #fff;
    margin-left: 0px;
    margin-bottom: 0px;
    margin-top: 20px;
  }
  


  