.fines-wrapper {
	width: 80vw;
	display: flex;
	flex-direction: column;
	gap: 50px;

	.top-container {
		display: flex;
		width: 100%;
		justify-content: space-between;
	}

	.bottom-container {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		gap: 25px;
	}
}
