@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700;800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


:root {
    /* Base font size */
    font-size: 10px;

    /* Heading height variable*/
    --heading-height: 0.1em;  --color-primary: hsl(310, 100%, 65%);
    --color-secondary: hsl(160, 100%, 65%);
    --background: hsl(230, 30%, 15%);
    --text: hsl(310, 100%, 95%);

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

h1 {
    font-size: calc(1.9em + 1.9vw);
    font-weight: 700;
    letter-spacing: .01em;
    padding: 1rem 0 0 4.5rem;
    text-shadow: .022em .022em .022em #111;
    color: #fff;
}


body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    min-height: 0hv;
    width: 100%;
    background: rgb(23, 24, 26);
    font-family: "Roboto", Arial, sans-serif;
}

.content-wrapper {
    display: flex;
    justify-content: center;
    align-items:center;
    flex-wrap: wrap;
    width: 80vw;
}